{block content}

<section class="container">
	<h1 n:block="title">Rubriky</h1>

	<div class="box">
		{box sections}
	</div>

	<div class="row pt-3">
		{foreach $categories as $category}
				<a n:href="Section:default $category->slug" class="sec col-md-6 col-lg-4 col-xl-2">
					<div class="bg bg-{$category->color}">
						<img src="{$basePath}/dist/img/{$category->slug}.svg" alt="{$category->name}">
						{$category->name}
					</div>
				</a>
		{/foreach}
	</div>
</section>
