{block #title}
    <i class="icon mdi mdi-calendar-check"></i> Aktivity a služby
{/block}

{block #buttons}
    <a n:href="Service:edit" class="btn btn-success">Přidat aktivitu/službu</a>
{/block}

{block content}
    <div class="m-admin-fix bg-white pb-2">
        {control serviceGrid}
    </div>
{/block}