{extends $control->baseGridTemplate}

{define body-cell-name}
    <td>
        {$record->name}
    </td>
{/define}

{define body-cell-date}
    <td class="text-left">
        {$record->date|date:'d.m.Y'}
    </td>
{/define}

{define body-cell-price}
    <td class="text-left">
        {$record->price}
    </td>
{/define}

{define body-cell-capacity}
    <td>
        {$record->participants}/{$record->capacity} <a href="{plink :Admin:Event:participants $record->id}" class="ml-2">Seznam přihlášených</a>
    </td>
{/define}

{define body-cell-gallery_id}
    <td class="text-center">
        {if $record->gallery}
            <a href="{plink :Admin:Gallery:edit $record->gallery->id}">
                {$record->gallery->name}
            </a>
        {else}
            <span class="text-muted">žádná</span>
        {/if}
    </td>
{/define}

{define body-cell-public}
    <td class="text-center">
        {if $record->public}
            <span class="text-success"><i class="mdi mdi-earth"></i> Veřejný</span>
        {else}
            <span class="text-danger"><i class="mdi mdi-lock"></i> Neveřejný</span>
        {/if}
    </td>
{/define}

{define row-action-edit}
    <a href="{plink :Admin:Event:edit $record->id}" class="btn btn-sm btn-primary">
        {$action->getLabel()}
    </a>
{/define}

{define row-action-delete}
    <a data-ajax="on" href="{$link}" class="btn btn-sm btn-outline-danger tw-ajax" data-confirm="modal" n:attr="data-confirm-text => $action->getConfirmation()">
        {$action->getLabel()}
    </a>
{/define}