body {
	padding: 0;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	color: $gray-900;
	background-color: $background-gray;
}

h1, h2, h3, .navbar-brand, .note, .heading-section, .sec, .nav-link, .created {
	font-family: 'Nunito', sans-serif;
}

.navbar {
	padding: 0;
	align-items: stretch;

	.navbar-brand {
		padding: 1rem;
		background: $light-green;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: flex-end;
		font-size: 1.7rem;
		font-weight: 700;
		width: calc(100% - 70px);
		margin-right: 0;

		img {
			height: auto;
			width: 100%;
			margin-right: 10px;
			max-width: 220px;
		}
	}

	.navbar-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $dark-green;
		width: 70px;
	}

	.navbar-toggler {
		border: none;
		border-radius: 0;

		.navbar-toggler-icon {
			margin-top: 22px;
		}
	}

	.show {
		background: #e3e3e3;
	}

	.navbar-nav {
		padding: 1rem;

		.nav-link {
			font-size: 1.15rem;
			color: #222;
		}
	}
}

section {
	margin: 3rem 0;
}

#articles {

	.note {
		font-weight: 700;
		font-size: 1.2rem;
		margin: .8rem 0;
	}

	.newest-article {
		margin-top: 2rem;
	}

	article {
		background-position: center;
		background-size: cover;
		position: relative;
		min-height: 250px;
		color: $white;
		display: grid;
		margin-bottom: 3rem;
		border-radius: .2rem;

		.article-section {
			position: absolute;
			top: -5px;
			left: -5px;
			z-index: 100;
			border-radius: 50%;
			width: 46px;
			height: 46px;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				max-width: 30px;
				max-height: 30px;
			}
		}
		.article-content {
			border-radius: .2rem;
			background-color: rgba($gray-900, .65);
			font-size: 1.1rem;
			line-height: 150%;
			padding: 1.2rem;
			color: #eee;
			transition: .2s ease-in-out;

			&:hover {
				color: $white;
			}

			h2 {
				font-size: 1.7rem;
				font-weight: 700;
				margin: 1.8rem 0 1.5rem;
			}
		}
	}

	.most-read {
		margin-top: 4rem;
		padding: 3rem 1.5rem;
		background-color: $white;

		.heading {
			margin: 2rem 0;

			img {
				margin-bottom: 1rem;
			}
		}
	}
}

#sections {
	padding: 1rem 0;
	background-color: $white;

	.sec {

		.bg {
			margin: .5rem 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-weight: 700;
			padding: 1rem;
			border-radius: .2rem;
			color: $white;
		}

		img {
			margin: .5rem 1rem;
			fill: $white;
			max-width: 80px;
			max-height: 80px;
		}
	}
}

#about {
	.container {
		background-color: $white;
		border-radius: .2rem;

		.about-img {
			padding-left: 0;
			padding-right: 0;
		}

		.about-text {
			padding: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
	}
}


footer {
	padding-top: 4rem;

	.menu, .sections, .socials, .newsletter {
		margin-bottom: 2rem;
	}

	h3 {
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: 800;
	}

	ul {
		list-style-type: none;

		li {
			a {
				color: #444;
				text-decoration: underline;
				transition: all .2s ease-in-out;

				&:hover {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}

	.socials {
		ul {
			list-style-type: none;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			padding-left: 0;

			li {
				padding: .5rem;
				margin-right: .8rem;

				svg {
					max-width: 35px;
					max-height: 35px;
				}
			}
		}
	}

	.created {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2rem 0;
		color: $gray-600;

		svg {
			display: block;
			margin-bottom: .7rem;
			width: 150px;
			opacity: .5;
			height: auto;
		}

	}
}

.bg-blue { background-color: $blue }
.bg-red { background-color: $red }
.bg-orange { background-color: $orange }
.bg-green { background-color: $green }
.bg-purple { background-color: $purple }
.bg-yellow { background-color: $yellow }
